#closeButton{
    -fx-min-width: 14px;
    -fx-min-height: 14px;
    -fx-max-width: 14px;
    -fx-max-height: 14px;
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
    -fx-background-color: #d22015;
}

#closeButton:hover{
    -fx-background-color: #ee2015;
}

#minimizeButton{
    -fx-min-width: 14px;
    -fx-min-height: 14px;
    -fx-max-width: 14px;
    -fx-max-height: 14px;
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
    -fx-background-color: #d27d1e;
}

#minimizeButton:hover{
    -fx-background-color: #eb951e;
}